@charset "utf-8";
/* CSS Document */

p{
  color:#00CC20;
  font-size: 16pt;	
}

#p{
  color:#ED0020;
  font-size: 10pt;	
}

#p2{
  color:#ED22FF;
  font-size: 10pt;	
}

#div_1{
	word-spacing: 5px;
	background-color: #CECECE;
}

#div_2{
	background-color: #CECE11;
}

#navbar{
	
}

.aluno{

}

.aluna{

}